// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

#adminPanel {
  button {
    &:focus {
      outline: none !important;
    }
  }

  .vue2-editor {
    .ql-editor {
      min-height: 65vh !important;
    }
  }

  .fullScreenModalContainer {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  .v-navigation-drawer__content {
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  .searchInput {
    margin-top: 10px;
  }

  .deleteDialogHead {
    font-size: 18.5px !important;
  }

  .addForm {
    .primary--text {
      color: #4caf50 !important;
      caret-color: #4caf50 !important;
    }
    .v-label--active {
      color: #4caf50;
      caret-color: #4caf50;
    }

      .foreverSwitch{
          label{
              color: #4caf50 !important;
          }
      }
  }

  .editForm {
    .primary--text {
      color: #fb8c00 !important;
      caret-color: #fb8c00 !important;
    }
    .v-label--active {
      color: #fb8c00;
      caret-color: #fb8c00;
    }
      .foreverSwitch{
          label{
              color: #fb8c00 !important;
          }
      }
  }

    .v-label--active{
        font-size: 20px !important;
    }

  .v-list-item__title,
  .v-list-item__content {
    font-size: 15px !important;
  }

  .v-list-group__items {
    .v-list-item {
      padding-left: 27px !important;
    }
  }

  .productH5 {
    color: #1976d2 !important;
  }

  .v-card {
    .v-card__text {
      padding-bottom: 0px;
    }
  }

    .ck-content {
        min-height:550px;
        color:black !important;
    }

    .v-dialog__content {z-index: 203 !important;}
    .v-dialog{
        overflow-x: hidden !important;
        .v-card{
            overflow-x: hidden !important;
        }
    }

    .checkboxBtn{
        display: block !important;
            .v-input__slot{
                display: block !important;
                    .v-input--selection-controls__input{
                        display: block !important;
                    }
            }
    }

    .radioBtnTitle{
        font-size: 16px;
        margin-bottom: 0px;
    }

    .foreverSwitch{
        margin-top: -36px;
        padding-left: 0px !important;
        .v-input{
            margin-top: 0px;
            label{
                margin-bottom: 0px;
            }
        }
    }

    .currentFile{
        float: right !important;
        margin-top: -16px !important;
    }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
