@media (max-width: 991px) {
  .tree-branches li {
    position: relative !important;
    max-width: none !important;
    margin: 1rem 0;
    top: auto !important;
    right: auto !important;
    left: auto !important; } }
